  .logo-icon {
    display: inline-block;
  }
.logo-slider {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.logo-slider i {
  margin: 0 20px;
}

/* blog slider */
.card {
  display: inline-block;
  float: left;
}